.page-header
  %h1 Blerg!

-@posts.each do |post|
  =link_to post_path(post) do
    .col-md-6.col-md-offset-3.post.link.well.well-sm
      = render_markdown post.message
      %br
      %span.small
        = '~ ' + post.user.email
